* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.main-header{
    background: rgb(138,21,56);
    background: linear-gradient(90deg, rgba(138,21,56,1) 0%, rgba(0,0,0,0.896796218487395) 100%);
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.main-header img{
    width: 40px;
    height: 77px;
    object-fit: cover;
    object-position: 0 100%;
    display: inline;
}
/* .main-title{
    align-items: center;
} */
.brand{
    color: rgb(255, 255, 255);
}
.analytics-nav{
    color: rgb(255, 255, 255);
    
}
.main-header h1{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    display: inline;
    margin-left: 5px;
}
h1{
    font-size: 2rem;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    text-align: center;
    font-size: 1rem;
}
.searchBar{
    text-align: center;
    background: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 7px;
    width: 160px;
    padding: 5px;
    text-align: center;
    margin-right: 25px;
}
.match-card{
    border-radius: 7px;
    padding: 10px;
    margin: 40px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.matches{
    /* margin: 0 400px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.match-card *{
    margin: 0 10px;
}
.match-card h1{
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    /* padding: 0 30px; */
}
.flag{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid;
}
.buy-btn{
    font-size: 1rem;
    width: 115px;
}
.btn-soldOut{
    font-size: 1rem;
    width: 115px;
    pointer-events: none;
}
.my-btn{
    font-size: 1rem;
    width: 115px;
    border: 0 solid;
    background-color: #fff;
    transition: all 0.3s ease-out;
}
.chosen-btn{
    border: 1px solid #2125298a;
    border-radius: 10px;
    
}
.my-btn:hover{

    color:#2125298a;
    opacity: 0.5;
    transition: all 0.3s ease-out;
}

.type-h1{
    margin: 10px 0;
}
hr{
    border: 2px dimgrey dashed;
}
.btn{
    /* background-color: #13161b !important; */
}
.matchDate{
    display: inline;
    text-align: center;
}
.matchLocation{
    display: inline;
}
.matchLocation p{
    font-size: 0.9rem;
}
.icons{
    color: rgb(250, 68, 68);
}
.day p, .year p{
    font-size: 0.8rem;
    color: #686868;
    
}
.month p{
    font-weight:bold;
    font-size: 1.1rem;
}
.matchInfo{
    width: 50%;
    display: flex;
    float: left;
}
.match-card:hover{

}
.match-type{
    padding: 20px;
    display: flex;
    
}
.round-btn{
    margin: 0 10px;
    border: #750202;
}
.slect h1{
    text-align: left;
    font-weight: 900;
    font-size: 3rem;
    line-height: 100px;
}
.match-type-container{
    /* margin-left: -600px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.match-type-container button{
    padding: 10px;
    width: 145px;
}
.match-type-container input{
   height: 40px;
}
.team{
    width: 150px;
}
.my-drop{
    width: 900px;
}
.categoryCard{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-out;
}
.categoryCard:hover{
    box-shadow: 0 10px 5px #ccc;
}
.categoryCard button{
    width: 100px;
}
.side-div{
    display: inline;
    float: left;
    /* border: 1px solid #686868; */
    width: 500px;
    height: 700px;
    border-radius: 7px;

    margin: 16px;
}
.side-div h1{
    text-align: start;
    padding: 20px;
    transition: all 0.3s ease-out;
}
.chosen{
    color:rgb(255, 0, 0);
    transition: all 0.3s ease-out;
}
.reservation-form input, .reservation-form label{
    display: block;
}
.reservation-form input{
    
    border-radius: 10px;
}
.reservation-form label{
    
}
.input-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.input-container select{
    width: 182px;
    text-align: center;
}
.note{
    font-size: 0.9rem;
    color: rgb(145, 145, 145);
}
.p-category{
    color: red;
}
.chosenCard{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    transition: all 0.3s ease-out;
}
.chosenCard h1{
    font-size: 2.5rem;
    transition: font-size linear;
    transition: all 0.2s ease-out;
}
.match-header-card{
    display:flex;
    justify-content: center;
    align-items: center;
}
.match-header-card img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    object-fit: fill;
}
.match-header-card p{
    color: #fff;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes appear{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.team-header{
    margin: 0 100px;
}
.home-team{
    animation: 0.8s ease-out 0s 1 slideInFromLeft;
}
.away-team{
    animation: 0.8s ease-out 0s 1 slideInFromRight;
}
.vs-header{
    display: grid;
    animation: 1s ease-out 0s 1 appear;
}
.vs-header p{
    margin: 10px 0;
    font-size: 1.3rem;
}
.stadium img{
    width: 750px;
    height: 750px;
}
.title{
    font-size: 3rem;
    font-weight:900;
}

.unavailable_match{
    border-radius: 7px;
    padding: 10px;
    margin: 40px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 800px) {
    .match-card{
        border-radius: 7px;
        padding: 10px;
        margin: 40px 0;
        display:grid;
        justify-content: space-between;
        align-items: center;
    }
    .match-card *{
        margin: 5px 0;
    }
    .match-type-container{
        /* margin-left: -600px; */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin-top: 150px;
    }
  }
@media only screen and (max-width: 800px) {
    .matches{
        /* margin: 0 400px; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .match-containter{
        margin-top: 150px;
    }
    .matchInfo{
        display: none;
    }
  }